.img1{
	float: left;
	
}
.img2{
	float: right;
	position: top;
}
.pag1{
	text-align: right;
}
body{
	
	text-align: justify;
	font-family: monospace;
}
ul li{
	display: inline;
	padding: 5px;
	margin: 5px;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 1040px;
}
